.header {
  padding: auto;
  text-align: center;
  background: #1abc9c;
  color: orange;
  font-size: auto;
  background-image: url("headerbg.jpg");
  background-repeat: no-repeat;
  background-size:     cover;
}

.h1 {
	color: white;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: cyan;
}

.p {
	
}

.topnav {
  overflow: hidden;
  background-color: gray;
}

.topnav a {
	float:left;
	display: block;
	color: lightgreen;
	text-align: center;
	padding: 14px 10px;
	text-decoration: none;
}

.topnav a:hover {
  background-color: blue;
  color: black;
  opacity: 0.5;
}

.topnav img {
	float:left;
	width: auto;
    height: auto;
}

